@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

:root {
	/* Color */
	--main-color: #ffd34e;
	--color-button: #474747;
	--color-white: #ffffff;
	--color-hardGrey: rgb(116, 116, 116);
	--color-grey: rgb(160, 160, 160);
	--color-lightGrey: rgb(209, 209, 209);

	/* margin */
	--container-margin: 20px;

	--border-color: rgba(0, 0, 0, 0.199);
	--contents-padding: 20px;

	/* Font */
	--fontColor-grey: rgb(104, 104, 104);
	--fontSize-big: 17px;
	--fontSize-normal: 14px;
	--fontSize-small: 12px;
	--fontWeight-big: 600;
	--fontWeight-middle: 500;
	--fontWeight-normal: 400;
}

/* COMMON */
* {
	box-sizing: border-box;
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
html {
	width: 100%;
	height: 100%;
}

body {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
	font-size: var(--fontSize-normal);
	-ms-overflow-style: none;
}
::-webkit-scrollbar {
	display: none;
}

#main__section {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#information {
	position: sticky;
	top: 40%;
	align-self: flex-start;
}

#App {
	position: relative;
	width: 100%;
	max-width: 420px;
	align-self: flex-start;
	min-height: 500px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 420px;
	min-height: 500px;
}

input {
	outline: none;
	border: none;
	text-align: center;
	border-bottom: 1px solid var(--color-lightGrey);
}
input::placeholder {
	font-size: var(--fontSize-normal);
	color: var(--color-lightGrey);
	text-align: center;
}
#backbutton {
	filter: invert(50%);
	cursor: pointer;
	position: absolute;
	left: 15px;
	top: 15px;
	width: 20px;
}
/* LOADING */
#loading__container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px;
}
#loading__img {
	width: 30px;
	animation: spin 1.3s infinite;
	margin-bottom: 10px;
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(359deg);
	}
}
#loading {
	font-size: var(--fontSize-big);
	font-weight: var(--fontWeight-big);
}

/* NAVBAR */
.nav__container {
	z-index: 1;
	background-color: white;
	position: sticky;
	top: 0px;
	padding: 20px 20px 0px 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid var(--color-lightGrey);
}

#nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 420px;
}

#nav__myPage__icon {
	cursor: pointer;
	position: absolute;
	top: 17px;
	right: 28px;
	width: 20px;
}

#nav__logo {
	cursor: pointer;
	width: 120px;
	font-weight: 600;
}

.nav__login__container {
	text-align: right;
	display: flex;
	font-size: var(--fontSize-big);
	font-weight: var(--fontWeight-big);
}

span.nav__login {
	color: var(--color-grey);
}

.nav__login {
	cursor: pointer;
	font-size: var(--fontSize-small);
	font-weight: var(--fontWeight-middle);
	color: var(--fontColor-grey);
}

/* MENU */

#menu__container {
	border-top: 2px solid var(--color-lightGrey);
	background-color: white;
	position: sticky;
	padding: 6px 20px 0px 20px;
	width: 100%;
	bottom: 0px;
	height: 62px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu__button {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 37px;
	font-size: 10px;
	color: var(--color-grey);
}
.menu__button__img {
	width: 27px;
	margin-bottom: 6px;
}
/* /////////////////////////////////////////// */

/* HOMEPAGE */
#home.container {
	justify-content: start;
}
#anchor {
	position: absolute;
	bottom: 0;
}

/* /////////////////////////////////////////// */

/* MYPAGE */
#mypage__nav {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: right;
	padding: 20px 20px 20px 30px;
	width: 375px;
	height: 60px;
	border-bottom: 1px solid var(--color-lightGrey);
}

#mypage__container {
	width: 100%;
	height: 100%;
	padding: 20px;
}
#mypage__container h3 {
	margin: 20px 0px 10px 0px;
	padding-bottom: 10px;
	border-bottom: 1px solid var(--color-lightGrey);
}
#mypage__user__container {
	display: flex;
}
.mypage__element div {
	margin-bottom: 5px;
}

#mypage__user__title {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	margin-right: 10px;
}

#mypage__user__desc div {
	color: var(--color-grey);
}

/* /////////////////////////////////////////// */

/* Contents */
.contents__container {
	position: relative;
	cursor: pointer;
	padding: 15px;
	display: flex;
	width: 90%;
	max-width: 390px;
	height: 150px;
	border-bottom: 2px solid var(--color-lightGrey);
	text-align: left;
}
.contents__img__container {
	align-self: center;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 18px;
	width: 100px;
	height: 100px;
}

.contents__img {
	width: 100%;
	max-height: 120px;
}

.contents__desc__container {
	width: 60%;
	height: 100%;
	padding: 5px;
	display: flex;
	flex-direction: column;
}

.contents__title {
	margin-top: 14px;
	font-size: 16px;
}

.contents__info {
	font-size: var(--fontSize-small);
	color: var(--color-grey);
}

.contents__price {
	margin-top: 18px;
	font-size: var(--fontSize-small);
}
.contents__menu__icon {
	box-sizing: initial;
	padding: 5px;
	cursor: pointer;
	position: absolute;
	right: 12px;
	top: 12px;
	color: var(--color-lightGrey);
	width: 13px;
	height: 13px;
}
.contents__menu__container {
	position: absolute;
	top: 20px;
	right: 37px;
	border: 1px solid var(--color-lightGrey);
	border-bottom: none;
}

.contents__menu__item {
	padding: 5px 12px;
	background-color: var(--color-white);
	border-bottom: 1px solid var(--color-lightGrey);
}
.contents__menu__item:hover {
	cursor: pointer;
	background-color: var(--color-lightGrey);
}
.contents__comments__icon__container {
	position: absolute;
	right: 13px;
	color: var(--color-grey);
	display: flex;
	width: 40px;
	height: 15px;
	align-self: flex-end;
}

/* board */
#board__control {
	display: flex;
}
.board__button {
	border: 1px solid black;
	border-radius: 5px;
	padding: 5px 10px;
	margin: 10px;
	background-color: burlywood;
	cursor: pointer;
}

/* LOGIN PAGE */
#login__logo {
	width: 40%;
	margin: 100px 0px 50px 0px;
}

.login__input {
	margin-top: 25px;
	width: 70%;
	height: 30px;
}

.login__button {
	margin: 7px;
	cursor: pointer;
	width: 80%;
	height: 44px;
	border-radius: 8px;
	text-align: center;
	line-height: 44px;
}
#login {
	font-size: var(--fontSize-normal);
	margin-top: 55px;
	color: white;
	background-color: var(--main-color);
	box-shadow: 0px 2px 6px 0px var(--color-lightGrey);
}
#signup {
	font-size: var(--fontSize-normal);
	color: var(--color-grey);
	box-shadow: 0px 1px 2px 1px var(--color-lightGrey);
}
#login__skip {
	cursor: pointer;
	margin-top: 50px;
	color: var(--color-grey);
	font-weight: 100;
	text-decoration: underline;
}

/* REGISTER PAGE */
#register__title {
	color: var(--fontColor-grey);
	margin: 100px 0px 55px 0px;
	width: 300px;
	font-size: 23px;
	font-weight: 900;
}
.register__input {
	margin: 10px;
	margin-bottom: 20px;
	width: 80%;
	height: 30px;
}
.register__input::placeholder {
	text-align: start;
}

.register__input__wrong {
	font-size: var(--fontSize-small);
	color: red;
}
#register__button {
	font-size: var(--fontSize-small);
	color: white;
	background-color: var(--main-color);
	box-shadow: 0px 2px 6px 0px var(--color-lightGrey);
	margin: 7px;
	margin-top: 70px;
	cursor: pointer;
	width: 80%;
	height: 44px;
	border-radius: 8px;
	text-align: center;
	line-height: 44px;
}
#register__button__cancel {
	font-size: var(--fontSize-small);
	color: var(--color-grey);
	background-color: white;
	box-shadow: 0px 2px 6px 0px var(--color-lightGrey);
	margin: 8px;
	cursor: pointer;
	width: 80%;
	height: 44px;
	border-radius: 8px;
	text-align: center;
	line-height: 44px;
}

/* WRITE PAGE */
#write__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
	margin-bottom: 15px;
	width: 100%;
	font-size: var(--fontSize-big);
	font-weight: 900;
	border-bottom: 1px solid var(--color-lightGrey);
}
#write__title__container {
	display: flex;
	align-items: center;
}
#write__title__container div {
	color: var(--fontColor-grey);
}
#write__img {
	width: 16px;
	height: 16px;
	margin-right: 10px;
}
#write__button {
	justify-self: flex-end;
	font-size: var(--fontSize-small);
	font-weight: 400;
	cursor: pointer;
}

.write__title {
	text-align: start;
	border-top: 1px solid var(--color-lightGrey);
	margin-top: 15px;
	width: 90%;
	height: 50px;
}
.write__title::placeholder {
	text-align: start;
}

.write__price {
	z-index: 1;
	font-size: 15px;
	position: relative;
	background-color: rgba(238, 130, 238, 0);
	color: rgba(255, 255, 255, 0);
	caret-color: black;
	text-align: start;
	height: 50px;
	width: 90%;
}
.write__price::placeholder {
	text-align: start;
}
#write__price__fake {
	text-align: left;
	width: 90%;
	position: absolute;
	top: 240px;
}

.write__desc {
	resize: none;
	margin: 10px;
	width: 90%;
	height: 300px;
	border: none;
}
.write__desc::placeholder {
	color: var(--color-lightGrey);
}
.write__desc:focus {
	outline: none;
}

#write__preview__container {
	padding: 20px;
	width: 100%;
	height: 100px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-self: center;
}

#write__upload__fake {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin-right: 10px;
	border: 1px solid var(--color-lightGrey);
	width: 60px;
	height: 60px;
	border-radius: 2px;
	font-size: var(--fontSize-small);
	text-align: center;
}
#write__upload__fake div {
	font-size: var(--fontSize-small);
	color: var(--color-lightGrey);
	font-weight: 200;
}
#write__upload__fake img {
	width: 22px;
}
#write__preview {
	width: 70px;
}

#write__upload {
	display: none;
}

/* CONTENTS PAGE */

#contentsPage__img__container {
	box-sizing: initial;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 500px;
	border-bottom: 1px solid var(--color-lightGrey);
}

#contentsPage__img {
	width: 100%;
	max-height: 500px;
}

#contentsPage__info__container {
	padding: 15px;
	display: flex;
	flex-direction: column;
	width: 100%;
	text-align: left;
	border-bottom: 1px solid var(--color-lightGrey);
}

#contentsPage__title {
	margin-bottom: 10px;
	font-size: var(--fontSize-big);
	font-weight: var(--fontWeight-big);
	word-wrap: break-word;
}

#contentsPage__price {
	font-size: var(--fontSize-normal);
	font-weight: bold;
}

#contentsPage__info {
	font-size: var(--fontSize-small);
	color: var(--fontColor-grey);
	margin-bottom: 7px;
}

#contentsPage__desc__container {
	padding: 15px;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid var(--color-lightGrey);
}
#contentsPage__desc {
	display: inline-block;
	width: 100%;
	font-size: var(--fontSize-normal);
	border: none;
	resize: none;
	white-space: pre-wrap;
	word-break: break-all;
}
#contentsPage__desc:focus {
	outline: none;
}

#function__button {
	display: none;
}

/* COMMENTS */

#comments__container {
	padding: 15px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
	height: 100%;
	text-align: left;
}
#comments__input__container {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#comments__input {
	margin-bottom: 12px;
	font-size: var(--fontSize-small);
	color: var(--fontColor-grey);
	border: 1px solid var(--color-lightGrey);
	width: 100%;
	height: 80px;
	max-width: 800px;
	text-align: start;
	resize: none;
}

#comments__input:focus {
	outline: 1.5px solid var(--color-lightGrey);
}

.comments__modify__button {
	position: absolute;
	right: 5px;
	bottom: 17px;
	display: flex;
}

.comments__modify__button div {
	cursor: pointer;
	margin: 0px 5px;
}

.comments__button {
	cursor: pointer;
	position: absolute;
	right: 5px;
	bottom: 17px;
}

#commentsList__container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 800px;
}

.commentsEach__container {
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 370px;
	border-bottom: 1px solid var(--color-lightGrey);
}

.commentsEach__info {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: var(--fontSize-small);
}

.commentsEach__contents {
	color: var(--color-hardGrey);
	font-size: var(--fontSize-normal);
	border: none;
	width: 100%;
	text-align: start;
	resize: none;
	white-space: pre-wrap;
	word-break: break-all;
}
.commentsEach__contents:focus {
	outline: none;
}

.commentsEach__modify {
	display: flex;
	color: var(--color-grey);
}

.commentsEach__modify div {
	cursor: pointer;
	color: var(--color-grey);
	margin: 0px 6px;
}

#comments__empty {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: var(--color-grey);
}

@media screen and (max-width: 750px) {
	#information {
		display: none;
	}
	#footer__container {
		display: none;
	}
	.function__button {
		display: flex;
		position: fixed;
		padding: 14px;
		border-radius: 50%;
		right: 15px;
		bottom: 18px;
		width: 50px;
		height: 50px;
		background-color: var(--main-color);
		box-shadow: 0px 2px 3px 1px var(--color-lightGrey);
	}
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		max-width: 420px;
		min-height: 100vh;
	}
}
