* {
	font-size: 18px;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

.container {
	margin: 0 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
}

#click_button {
	cursor: pointer;
	margin-bottom: 30px;
	background-color: #f5fd67;
	width: 362px;
	height: 48px;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	line-height: 47px;
}

.home_container {
	box-sizing: border-box;
	padding: 40px;
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: repeat(3, 1fr);
	row-gap: 40px;
	column-gap: 40px;
	width: 1080px;
}

.login_container {
	display: flex;
}

.login_input_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.login_input {
	width: 285px;
	height: 30px;
}

.login_button {
	margin: 0 5px;
	border-radius: 20%;
	cursor: pointer;
	background-color: #f5fd67;
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 77px;
	font-weight: bold;
}

.wrong_input {
	font-size: 13px;
	color: red;
}

.register_input {
	margin: 10px;
	height: 30px;
	width: 355px;
	height: 36px;
}

.write_container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.write_title {
	margin: 10px;
	height: 30px;
}

.write_price {
	margin: 10px;
	height: 30px;
	width: 354px;
}

.write_desc {
	resize: none;
	margin: 10px;
	width: 30vw;
	height: 50vh;
}

.nav_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	padding: 20px 40px;
	width: 1080px;
	height: 200px;
	background-color: #c0ca33;
	color: white;
}

.nav_login_container {
	display: flex;
	flex-direction: column;
	width: 150px;
	white-space: nowrap;
}

.footer_container {
	margin-bottom: 20px;
	width: 1080px;
	height: 200px;
	background-color: #c0ca33;
	color: white;
}
